<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Acceso Al Sistema">
  
<test thread-count="5" name="accesos">

    <parameter name="browser" value="chrome" />

	<classes>
       <class name="selenium.LoginTests"/>
	  <class name="selenium.LoginTestsNoInstances"/>
    </classes>


  </test> <!-- accesos -->
</suite> <!-- Acceso Al Sistema -->
